* {
    margin: 0;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.804359243697479) 100%);
}

.avatar {
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 40px 0;
}

.social img {
    width: 33px;
}

.links-list li {
    margin: 10px 20px;
    list-style: none;
    text-align: center;
}

.links-list li img {
    width: 60px;
}

.links-list li a {
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(54,77,204);
    font-weight: bold;
}

.links-list li a span{
    color: grey;
    display: block;
    margin-top: 10px;
}

.footer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background-color: grey;
}

.footer h4 {
    padding: 0 7px;
    margin-top: 10px;
}

.footer a img {
    width: 30px;
    margin-top: 6px;
    border: 1px solid rgba(20, 20, 20, 0.815);
    border-radius: 30px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.658);
}


